#map {
  position: absolute;
  display: block;
  margin: auto;
  height: 100%;
  width: 100%;
}

#updateMapBtn {
  height: 50px;
  width: 150px;
  z-index: 100;
  position: absolute;
  left: 100px;
  top: 250px;
  background-color: white;
  font-weight: bold;
}

#resetPos {
  height: 50px;
  width: 150px;
  z-index: 100;
  position: absolute;
  left: 100px;
  top: 300px;
  background-color: white;
  font-weight: bold;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#header {
  z-index: 100;
  position: absolute;
  color: black;
  font-size: 40px;
  font-weight: bold;
  left: 100px;
  top: 150px;
  border-style: solid;
  padding: 8px 8px 8px 8px;
  background-color: white;
}